<!DOCTYPE html>

<title>Etablissement</title>

{% block body %}
    <h1>Etablissement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etablissement.id }}</td>
            </tr>
            <tr>
                <th>Return</th>
                <td>{{ etablissement.return }}</td>
            </tr>
            <tr>
                <th>Relation</th>
                <td>{{ etablissement.relation }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etablissement.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ etablissement.ville }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ etablissement.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ etablissement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etablissement_index') }}">back to list</a>

    <a href="{{ path('app_etablissement_edit', {'id': etablissement.id}) }}">edit</a>

    {{ include('etablissement/_delete_form.html.twig') }}
{% endblock %}
